{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/services/(.*)$",
    "^@/api/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "^@/.*\\.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
